.place__url-heading {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #aaaaaa;
}

@media screen and (max-width: 1023px) {
    .place__url-heading {
        margin-bottom: 14px;
    }
}

@media screen and (max-width: 767px) {
    .place__url-heading {
        margin-bottom: 12px;
    }
}
